<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Song Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-end" style="padding-top:30px;">
            <div class="align-self-center">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log Out" class="btn btn-danger" />
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <h1 class="display-3">Glossary</h1>
        </div>
        <div class="row">
            <div class="col-2"> <a href="/songlist" class="btn btn-primary" style="margin-bottom:20px;">Song Catalog</a>
            </div>
        </div>
        <div class="row justify-content-center">
             <img src="https://truefire.com/inc/img/guitar-chords/guitar-chord-chart.png" alt="Chords chart" >
        </div>
    </div>
</body>

</html>